In [3]:
import pandas as pd

In [9]:
df=pd.read_csv('Big 5 European football leagues teams stats.csv')

In [11]:
df.head()

,competition,season,rank,squad,games,wins,draws,losses,goals_for,goals_against,...,cards_red,shots_on_target_against,saves,clean_sheets,shots_on_target,games_starts,games_complete,games_subs,unused_subs,points_per_match
0,Premier League,2010-2011,1,Manchester Utd,38,23,11,4,78,37,...,3.0,139,102,15,218,418,NaN,99,NaN,2.11
1,Premier League,2010-2011,2,Chelsea,38,21,8,9,69,33,...,1.0,148,115,15,241,418,NaN,107,NaN,1.87
2,Premier League,2010-2011,3,Manchester City,38,21,8,9,60,33,...,5.0,153,120,18,182,418,NaN,102,NaN,1.87
3,Premier League,2010-2011,4,Arsenal,38,19,11,8,72,43,...,6.0,150,106,13,243,418,NaN,107,NaN,1.79
4,Premier League,2010-2011,5,Tottenham,38,16,14,8,55,46,...,2.0,183,137,8,202,418,NaN,96,NaN,1.63

In [13]:
df.tail()

,competition,season,rank,squad,games,wins,draws,losses,goals_for,goals_against,...,cards_red,shots_on_target_against,saves,clean_sheets,shots_on_target,games_starts,games_complete,games_subs,unused_subs,points_per_match
1073,La Liga,2020-2021,16,Alavés,38,9,11,18,36,57,...,8.0,143,87,9,99,418,248.0,163,254.0,1.00
1074,La Liga,2020-2021,17,Elche,38,8,12,18,34,55,...,3.0,156,107,7,87,418,267.0,152,298.0,0.95
1075,La Liga,2020-2021,18,Huesca,38,7,13,18,34,53,...,2.0,142,94,9,130,418,246.0,171,215.0,0.89
1076,La Liga,2020-2021,19,Valladolid,38,5,16,17,34,57,...,4.0,155,102,3,110,418,246.0,170,246.0,0.82
1077,La Liga,2020-2021,20,Eibar,38,6,12,20,29,52,...,3.0,133,82,9,130,418,266.0,149,266.0,0.79

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1078 entries, 0 to 1077
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   competition              1078 non-null   object
 1   season                   1078 non-null   object
 2   rank                     1078 non-null   int64
 3   squad                    1078 non-null   object
 4   games                    1078 non-null   int64
 5   wins                     1078 non-null   int64
 6   draws                    1078 non-null   int64
 7   losses                   1078 non-null   int64
 8   goals_for                1078 non-null   int64
 9   goals_against            1078 non-null   int64
 10  goal_diff                1078 non-null   int64
 11  points                   1078 non-null   int64
 12  notes                    450 non-null    object
 13  players_used             1078 non-null   int64
 14  assists                  1078 non-null   int64
 15  pens_made                1078 non-null   int64
 16  pens_att                 1078 non-null   int64
 17  cards_yellow             985 non-null    float64
 18  cards_red                985 non-null    float64
 19  shots_on_target_against  1078 non-null   int64
 20  saves                    1078 non-null   int64
 21  clean_sheets             1078 non-null   int64
 22  shots_on_target          1078 non-null   int64
 23  games_starts             1078 non-null   int64
 24  games_complete           158 non-null    float64
 25  games_subs               1078 non-null   int64
 26  unused_subs              686 non-null    float64
 27  points_per_match         1078 non-null   float64
dtypes: float64(5), int64(19), object(4)
memory usage: 235.9+ KB

In [15]:
df.shape

(1078, 28)

In [17]:
df.describe()

,rank,games,wins,draws,losses,goals_for,goals_against,goal_diff,points,players_used,...,cards_red,shots_on_target_against,saves,clean_sheets,shots_on_target,games_starts,games_complete,games_subs,unused_subs,points_per_match
count,1078.000000,1078.000000,1078.000000,1078.000000,1078.000000,1078.000000,1078.000000,1078.000000,1078.000000,1078.000000,...,985.000000,1078.000000,1078.000000,1078.000000,1078.000000,1078.000000,158.000000,1078.000000,686.000000,1078.000000
mean,10.316327,37.077922,13.867347,9.343228,13.867347,50.611317,50.611317,0.000000,50.913729,27.867347,...,2.728934,160.691095,112.125232,10.269944,164.905380,407.820037,278.588608,109.913729,190.607872,1.373302
std,5.680370,1.996621,5.858596,2.990701,5.363658,16.774271,12.677565,25.632355,16.706516,3.277909,...,2.703247,31.489075,22.682912,3.890140,40.260807,21.960526,31.639717,16.508769,62.777763,0.443553
min,1.000000,27.000000,2.000000,2.000000,0.000000,20.000000,17.000000,-61.000000,13.000000,19.000000,...,0.000000,71.000000,45.000000,2.000000,77.000000,297.000000,217.000000,71.000000,109.000000,0.420000
25%,5.000000,38.000000,10.000000,7.000000,10.000000,39.000000,42.000000,-17.000000,40.000000,25.000000,...,0.000000,139.000000,97.000000,8.000000,137.000000,418.000000,248.250000,101.000000,153.000000,1.080000
50%,10.000000,38.000000,12.000000,9.000000,14.000000,47.000000,51.000000,-5.000000,47.000000,28.000000,...,2.000000,162.000000,111.000000,10.000000,157.000000,418.000000,297.000000,109.000000,159.000000,1.260000
75%,15.000000,38.000000,17.000000,11.000000,18.000000,59.000000,58.750000,13.750000,61.000000,30.000000,...,4.000000,180.750000,126.000000,13.000000,186.000000,418.000000,305.000000,113.000000,208.000000,1.630000
max,20.000000,38.000000,33.000000,19.000000,29.000000,121.000000,94.000000,89.000000,102.000000,42.000000,...,12.000000,271.000000,199.000000,24.000000,318.000000,419.000000,339.000000,189.000000,345.000000,2.680000

In [18]:
df.describe(include=object)

,competition,season,squad,notes
count,1078,1078,1078,450
unique,5,11,169,13
top,Serie A,2015-2016,Napoli,→ UEFA Champions League via league finish
freq,220,98,11,193

In [20]:
df['competition'].value_counts()

Serie A               220
Premier League        220
Ligue 1               220
La Liga               220
Fußball-Bundesliga    198
Name: competition, dtype: int64

In [23]:
df.loc[df['competition']=='Premier League','squad'].value_counts()

Liverpool          11
Arsenal            11
Everton            11
Tottenham          11
Manchester City    11
Manchester Utd     11
Chelsea            11
West Ham           10
Newcastle Utd      10
West Brom           9
Southampton         9
Stoke City          8
Aston Villa         8
Crystal Palace      8
Swansea City        7
Leicester City      7
Sunderland          7
Burnley             6
Fulham              6
Norwich City        5
Bournemouth         5
Wolves              5
Watford             5
Brighton            4
Wigan Athletic      3
QPR                 3
Hull City           3
Sheffield Utd       2
Cardiff City        2
Bolton              2
Blackburn           2
Huddersfield        2
Leeds United        1
Blackpool           1
Birmingham City     1
Reading             1
Middlesbrough       1
Name: squad, dtype: int64

In [24]:
df[df['competition']=='La Liga']

,competition,season,rank,squad,games,wins,draws,losses,goals_for,goals_against,...,cards_red,shots_on_target_against,saves,clean_sheets,shots_on_target,games_starts,games_complete,games_subs,unused_subs,points_per_match
858,La Liga,2010-2011,1,Barcelona,38,30,6,2,95,21,...,2.0,116,95,19,286,418,NaN,112,NaN,2.53
859,La Liga,2010-2011,2,Real Madrid,38,29,5,4,102,33,...,8.0,124,91,16,299,418,NaN,110,NaN,2.42
860,La Liga,2010-2011,3,Valencia,38,21,8,9,64,44,...,8.0,180,136,12,201,418,NaN,114,NaN,1.87
861,La Liga,2010-2011,4,Villarreal,38,18,8,12,54,44,...,5.0,174,130,13,207,418,NaN,105,NaN,1.63
862,La Liga,2010-2011,5,Sevilla,38,17,7,14,62,61,...,7.0,206,145,8,205,418,NaN,109,NaN,1.53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1073,La Liga,2020-2021,16,Alavés,38,9,11,18,36,57,...,8.0,143,87,9,99,418,248.0,163,254.0,1.00
1074,La Liga,2020-2021,17,Elche,38,8,12,18,34,55,...,3.0,156,107,7,87,418,267.0,152,298.0,0.95
1075,La Liga,2020-2021,18,Huesca,38,7,13,18,34,53,...,2.0,142,94,9,130,418,246.0,171,215.0,0.89
1076,La Liga,2020-2021,19,Valladolid,38,5,16,17,34,57,...,4.0,155,102,3,110,418,246.0,170,246.0,0.82
1077,La Liga,2020-2021,20,Eibar,38,6,12,20,29,52,...,3.0,133,82,9,130,418,266.0,149,266.0,0.79

In [25]:
df[~df['notes'].isna()]

,competition,season,rank,squad,games,wins,draws,losses,goals_for,goals_against,...,cards_red,shots_on_target_against,saves,clean_sheets,shots_on_target,games_starts,games_complete,games_subs,unused_subs,points_per_match
0,Premier League,2010-2011,1,Manchester Utd,38,23,11,4,78,37,...,3.0,139,102,15,218,418,NaN,99,NaN,2.11
1,Premier League,2010-2011,2,Chelsea,38,21,8,9,69,33,...,1.0,148,115,15,241,418,NaN,107,NaN,1.87
2,Premier League,2010-2011,3,Manchester City,38,21,8,9,60,33,...,5.0,153,120,18,182,418,NaN,102,NaN,1.87
3,Premier League,2010-2011,4,Arsenal,38,19,11,8,72,43,...,6.0,150,106,13,243,418,NaN,107,NaN,1.79
4,Premier League,2010-2011,5,Tottenham,38,16,14,8,55,46,...,2.0,183,137,8,202,418,NaN,96,NaN,1.63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1061,La Liga,2020-2021,4,Sevilla,38,24,5,9,53,33,...,2.0,114,87,17,136,418,233.0,184,266.0,2.03
1062,La Liga,2020-2021,5,Real Sociedad,38,17,11,10,59,38,...,1.0,100,66,14,139,418,240.0,177,235.0,1.63
1075,La Liga,2020-2021,18,Huesca,38,7,13,18,34,53,...,2.0,142,94,9,130,418,246.0,171,215.0,0.89
1076,La Liga,2020-2021,19,Valladolid,38,5,16,17,34,57,...,4.0,155,102,3,110,418,246.0,170,246.0,0.82
1077,La Liga,2020-2021,20,Eibar,38,6,12,20,29,52,...,3.0,133,82,9,130,418,266.0,149,266.0,0.79